.table {
    padding: 10px;
    
}

Button {
    padding: 0px !important;
    font-size: 0.8em !important;
}


@media (max-width: 460px) {
    .table {
        font-size: 0.8em !important;
        padding: 0
    }

    .dateTable {
        display: none;
    }

    .bottonTable {
        display: none
    }
    }